@using ShopBridgeDAL.Models;
@model IEnumerable<ProductTypeDALmodel>;
@{
    ViewData["Title"] = "Index";
}

<br /><br />
<div class="row">
    <div class="col-6">
        <h2 class="text-info">Product List</h2>
    </div>
    <div class="col-2 offset-4">
        <a asp-action="AddProducts" class="btn btn-info"><i class="fas fa-plus"></i>&nbsp; Add New Product</a>
    </div>

</div>
<br />

<div>
    <table class="table table-striped border" id="myTable">
        <thead>
        <tr class="table-info">
            <th>
                 @Html.DisplayNameFor(x => x.ProductType)
            </th>
            <th></th>
            <th></th>
        </tr>
        </thead>
       
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ProductType</td>
                    
                    <td>
                        <partial name="_buttonsPartial" model="@item.Id" />
                    </td>
                </tr>
            }
        </tbody>


</table>
</div>

