@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center pb-4">
    <h1 class="display-3">Welcome To ShopBridge</h1>
</div>
<div class="row form-group p-2 pt-4">
    <h4 style="font-weight:bold">As a Product Administrator : </h4>
    <li>You can create and add products to the Product Inventory.</li>
    <li>Add Product Type : It Allows the Product Administrator to Add Product Types.  </li>
    <li>Add Product Category : It Allows the Product Administrator to Add Product Categoriess.  </li>
    <li>Create Product: It Allows the Product Administrator to Create Product based on the added Product Types and Product Categories . </li>
</div>
